#!/bin/bash

export SALESFORCE_PROD_CLIENT_ID="XXXXX"
export SALESFORCE_PROD_CLIENT_SECRET="YYYYY"
export SALESFORCE_PROD_CALLBACK_URL="https://host.example.com/auth/prod/callback"
export SESSION_SECRET="ZZZZZ"

export OPENSHIFT_MONGODB_DB_USERNAME="user"
export OPENSHIFT_MONGODB_DB_PASSWORD='secret'
export OPENSHIFT_MONGODB_DB_HOST="hostname"
export OPENSHIFT_MONGODB_DB_PORT="33428"
export OPENSHIFT_APP_NAME="myapp"